<footer style="background-color: #333; color: white; padding: 20px; text-align: center;">
    <div>
        <p>&copy; 2024 ClipHarvest. All rights reserved.</p>
        <p>Follow us on social media:</p>
        <a href="https://www.instagram.com/deepu_dholiwal/" target="_blank" style="color: white; margin: 0 10px;">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/yourprofile" target="_blank" style="color: white; margin: 0 10px;">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="https://github.com/yourprofile" target="_blank" style="color: white; margin: 0 10px;">
            <i class="fab fa-github fa-lg"></i>
        </a>
    </div>
    {% load static %}
</footer>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
